

.Cell-0 {
  background-color: green;
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: white;
}

.Cell-1 {
  background-color: gray;
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: white;
}

.Cell-2 {
  background-color: white;
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: white;
}
.Cell-3 {
  background-color: yellow;
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: white;
}
